body { 
	background: url(../images/mainBG.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Luckiest Guy', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Press Start 2P', cursive;
	color: white;
	padding: 25px;
    text-shadow: 2px 2px red;
    text-align: center; 
}

.answer,
#timer {
	font-weight: 900;
}

.start {
	height: 400px;
    margin-top: 0;
    text-align: center;
    position: relative;
}

.start p {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P';
    font-size: 5em; 
	animation: blink 1s linear infinite;
}

.start p:hover {
	cursor: pointer;
}

@keyframes blink{
    50%{opacity: 0;}
}

.choices {
	text-align: center;
	border: groove 2px black;
	border-radius: 5%;
	width: 500px;
	margin: 0 auto;
}

.choices:hover {
	background-color: red;
	color: white;
	cursor: pointer;
}

.gameScreen {
	background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 10px 10px 5px #000;
}

.img-responsive {
    margin: 0 auto;
}